body,
html {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
}

body {
	background: #ffffff;
	color: #000000;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.6;
}

body[data-bodyview="index"] .navigation li.set_link.active a {
	background: none;
}

a.show_index {
	color: #333333;
	text-decoration: none;
	text-align: center;
}

a.show_index:hover {
	text-decoration: underline;
}

a.show_index:active {
	color: #999999;
}

h1 {
	font-size: 22px;
	line-height: 165%;
}

h2 {
	font-size: 16px;
	line-height: 165%;
}

h3 {
	font-size: 14px;
	line-height: 150%;
}

blockquote {
	color: #666666;
	margin: 0;
}


.swipe {
    position: relative;
    width: 600px;
    display: flex;
}

.slider {
    position: relative;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.slider li {
    width: 300px;
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    font-size: 14px;
    background: #999999;
    color: #fff;
}

.js_slides {
  display: inline-block;
}

/* next / prev */

.js_next {
  top: 100px;
}

.js_prev {
  top: 100px;
}
