.Select__Autocomplete___2ADdK {
  margin: 0;
  position: relative;
}
.Select__Input___1pi9G {
  border: 0 !important;
  background: transparent !important;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  height: 20px;
  line-height: normal;
  margin: 1px 0;
  outline: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.Select__InputHidden___2TTYW {
  display: none;
}
.Select__AutocompleteItems___1TNh_ {
  margin: 0;
  padding: 0.4rem;
}
.Select__AutocompleteItem___3WkmG {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}
.Select__AutocompleteItemSelected___16XRy,
.Select__AutocompleteItem___3WkmG:hover,
.Select__AutocompleteItem___3WkmG:visited {
  background-color: #ebebeb;
  color: black;
}
.Select__AutocompleteItemDisabled___2KZ7h {
  background-color: white;
  color: buttonface;
  opacity: 0.5;
}
.Select__AutocompleteItemDisabled___2KZ7h:hover {
  background-color: white;
  color: buttonface;
}
.Select__AutocompleteItem___3WkmG span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  word-wrap: break-word;
}
.Select__AutocompleteItemDropdown___2D4aD {
  margin: -0.4rem;
}

.Select__AutocompleteMenu___2rQDY {
  background: white;
  box-shadow: 0.1rem 0.1rem 3rem rgba(0, 0, 0, 0.25);
  display: block;
  line-height: 1.5em;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.2em;
  position: absolute;
  text-decoration: none;
  width: 100%;
  visibility: visible;
  z-index: 100;
}
.Select__AutocompleteMenuWrap___2rqaa {
  position: relative;
  width: 100%;
}
.Select__AutocompleteMenuHidden___2f57A {
  visibility: hidden;
}

.Select__AutocompleteDropdown___2CMbs {
  background: none !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
  float: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: -0.2rem;
}
.Select__AutocompleteDropdown___2CMbs:before {
  content: '\25BE';
}

.Select__AutocompleteClose___3KuGj {
  background: none !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
  float: right;
  padding: 0 0.5rem;
}
.Select__AutocompleteClose___3KuGj:before {
  content: '\D7';
}

.Main__github___49Vj_ {
	color: #999999;
	margin-top: 0;
}

.Main__github___49Vj_ a {
	color: #999999;
}

.Main__github___49Vj_ a:hover {
	color: #333333;
	text-decoration: underline;
}

.Main__github___49Vj_ a:active {
	background: #333333;
	color: #ffffff;
}


.Main__link___1_Lti a {
	color: #333333;
}

.Main__link___1_Lti a.Main__hover___3xCIt,
.Main__link___1_Lti a:hover {
	background: #ffff00;
	color: #333333;
}

.Main__active___1AiQF a {
	background: #ffff00 !important;
}

.Main__project___2jLLG {
	display: none;
	max-width: 670px;
}

.Main__container___Hw-Ob {
	margin: 115px 70px 35px 270px;
	position: relative;
	padding-bottom: 70px;
}

@media (max-width: 768px) {
  .Main__container___Hw-Ob {
  	margin: 40px;
  }
}


.Main__navigation___-zCmm {
	line-height: 1.8em;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 40px;
	z-index: 12;
	left: 35px;
	top: 115px;
	position: fixed;
	width: 200px;
	z-index: 9;
}

.Main__navigation___-zCmm.Main__fixed___1bhTn {
	position: fixed;
}

@media (max-width: 768px) {
  .Main__navigation___-zCmm.Main__fixed___1bhTn {
  	position: static;
    margin: 20px 40px;
    padding: 0;
  }
}

.Main__navigation___-zCmm.Main__scroll___NwVo5 {
	position: absolute;
}

.Main__navigation___-zCmm li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.Main__navigation___-zCmm a,
.Main__navigation___-zCmm span {
	text-decoration: none;
	padding: 2px 3px 2px 3px;
}

.Main__navigation___-zCmm li.Main__active___1AiQF a {
	background: #ccffcc;
	color: #333333;
}

.Main__list___1SXzh {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.Main__list___1SXzh li {
	list-style: none;
}

.Main__list___1SXzh li ul {
	padding-left: 0px;
}


.Main__site_header___k_jJ6 {
	position: fixed;
	top: 35px;
	left: 35px;
	z-index: 999;
}

@media (max-width: 768px) {
  .Main__site_header___k_jJ6 {
    position: static;
    margin: 10px 40px;
  }
}

.Main__header_text___1-qAB {
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 1px;
	position: absolute;
	top: -10px;
	white-space: nowrap;
	padding: 2px 3px 2px 3px;
	z-index: 999;
}

@media (max-width: 768px) {
  .Main__header_text___1-qAB {
    position: static;
    padding: 0;
  }

}

.Main__header_text___1-qAB a {
	color: #000000;
	text-decoration: none;
}

.Main__header_text___1-qAB a:hover {
	color: #000;
	border-bottom: 0;
}

.Main__header_text___1-qAB a:active {
	color: #999;
	border-bottom: 0;
}
