<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flux Express example">

    <title>Flux Express - 404</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href='/styles/styles.css'>

</head>


<body>

<div id="layout" class="pure-g">    


  <!-- menu content -->

  <div class="sidebar pure-u-1 pure-u-md-1-4">

      <div class="header">

        <div class="pure-menu custom-restricted-width">
            <span class="pure-menu-heading">Flux Express</span>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/grid" class="pure-menu-link">Grid</a></li>
                <li class="pure-menu-item"><a href="/products" class="pure-menu-link">Products</a></li>
                <li class="pure-menu-item"><a href="/todos" class="pure-menu-link">Todos</a></li>
            </ul>
        </div>

      </div>

  </div>

  <!-- end menu content -->


  <!-- main content -->

  <div class="content pure-u-1 pure-u-md-3-4">

    <header class="post-header">
        <h2 class="post-title">Products page</h2>
    </header>

    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
    
    <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
            <ul>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

  </div>

  <!-- end main content -->
    

</div>
<!-- end layout -->


  <!-- comment out main.js to see server side rendering -->
  <script src="/scripts/products-client.js"></script>

</body>
</html>
