
.button {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  width: 40%;
  padding: 5px;
  text-align:center;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;
  background: buttonface;
  outline: none;
}

.button:hover {
  background-color: #fff;
  border: 1px solid buttonface;
  color: buttonface;
}
