.overlay {
  box-sizing: content-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  color: #272b34;
  font-size: 1rem;
  z-index: 200;
}

.hidden {
  display: none;
}

.overlayContent {
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 3rem rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  margin-bottom: 4%;
  margin: 0 auto;
  padding: 10 20px;
  position: relative;
  top: 25vh;
  max-width: 60%;
  min-height: 20vw;
}

.overlayContent .centred {
  max-width: 80rem;
}

.overlayContent p {
  margin-bottom: 1.5rem;
}

.overlayCloseWrapper {
  box-sizing: content-box;
  position: relative;
}

.overlayClose {
  box-sizing: content-box;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
  margin: 0 auto;
  right: 10px;
  text-align: right;
}
