.Autocomplete {
  margin: 0;
  position: relative;
}
.Input {
  border: 0 !important;
  background: transparent !important;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  height: 20px;
  line-height: normal;
  margin: 1px 0;
  outline: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.InputHidden {
  display: none;
}
.AutocompleteItems {
  margin: 0;
  padding: 0.4rem;
}
.AutocompleteItem {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 0.3rem;
  padding: 0.5rem;
}
.AutocompleteItemSelected,
.AutocompleteItem:hover,
.AutocompleteItem:visited {
  background-color: #ebebeb;
  color: black;
}
.AutocompleteItemDisabled {
  background-color: white;
  color: buttonface;
  opacity: 0.5;
}
.AutocompleteItemDisabled:hover {
  background-color: white;
  color: buttonface;
}
.AutocompleteItem span {
  flex: 1;
  font-size: 16px;
  word-wrap: break-word;
}
.AutocompleteItemDropdown {
  margin: -0.4rem;
}

.AutocompleteMenu {
  background: white;
  box-shadow: 0.1rem 0.1rem 3rem rgba(0, 0, 0, 0.25);
  display: block;
  line-height: 1.5em;
  max-height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.2em;
  position: absolute;
  text-decoration: none;
  width: 100%;
  visibility: visible;
  z-index: 100;
}
.AutocompleteMenuWrap {
  position: relative;
  width: 100%;
}
.AutocompleteMenuHidden {
  visibility: hidden;
}

.AutocompleteDropdown {
  background: none !important;
  flex: 0 !important;
  float: right;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: -0.2rem;
}
.AutocompleteDropdown:before {
  content: '\25be';
}

.AutocompleteClose {
  background: none !important;
  flex: 0 !important;
  float: right;
  padding: 0 0.5rem;
}
.AutocompleteClose:before {
  content: '\00d7';
}
